* {
  box-sizing: border-box;
}

:root {
  --app-color-scheme: light;
  color-scheme: var(--app-color-scheme);
}

html,
body,
#root,
div[data-amplify-authenticator],
div[data-amplify-theme] {
  height: 100%;
}

body {
  background-color: #ffffff;
  overflow-y: scroll;
}

body.awsui-dark-mode {
  background-color: #0e1b2a;
}

.header-container {
  display: flex;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center; /* Ensures vertical alignment if needed */
  color: #0A2B48;
}

.matrix-table {
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  border-collapse: collapse;
  font-size: 1.1rem;

  th {
    border: 1px solid #d6d6d6;
  }

  td {
    border: 1px solid #d6d6d6;
    padding: 10px;
  }
}

.awsui-dark-mode {
  .matrix-table {
    border: 1px solid rgb(95, 107, 122);

    th {
      border: 1px solid rgb(95, 107, 122);
    }

    td {
      border: 1px solid rgb(0, 247, 255);
      padding: 12px;
    }
  }
}

.new-session-button {
 margin-left: auto; 
}

new-chat-button[data-alignment = "right"] {
 align-items: center;
}

.new-session-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.jsonContainer {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  background-color: #0e1b2ac3;
}

.jsonStrings {
  color: rgb(74, 234, 167);
  
}

.jsonNumbers {
  color: rgb(255, 223, 60);
}

.jsonBool {
  color: rgb(252, 178, 250);
  font-weight: 600;
}

.jsonNull {
  color:rgb(74, 205, 234);
  font-weight: 600;
}


